<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />

<div style="text-align:center">

    <img id="prizePointer" src="../../assets/Flecha1.png" alt="V" />
    <div class="clasemaestra">
        
        
        <canvas id="canvas" canvasid="canvas" (click)=" startSpin()"
        
        data-responsiveScaleHeight="true"   
        
        width=1000px;
        height=1000px;
        >
            Canvas not supported, use another browser.
        </canvas>
        <button type="button" class="boton3d" data-toggle="modal" data-target="#myModal">Ayuda</button>
      
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Historial de monedas</h4>
      </div>
      <div class="modal-body">
        
    
          <h2>💎💎💎 1000 monedas    💎💎 665 monedas     💎 333 monedas </h2>
          <h2>🥇🥇🥇    750 monedas  🥇🥇   500 monedas   🥇  250 monedas </h2>
          <h2>🥈🥈🥈   500 monedas   🥈🥈  333 monedas    🥈  166 monedas </h2>
          <h2>🍎🍎🍎   250 monedas    🍎🍎  166 monedas     🍎   83 monedas </h2>
          <h3>💎=🥈🥈  |  🥇🥇=🥈🥈🥈   |  💰=🍎🍎🍎  |  🥈=🍎🍎 </h3>
        
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>


      
            
    </div>

</div>